@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.wrapper {
		@apply max-w-6xl mx-auto my-auto;
	}
}

@layer utilities {
	@keyframes fadeInUp {
		from {
			opacity: 0;
			transform: translateY(100%);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
	.fadeInUp {
		animation: fadeInUp 1.25s cubic-bezier(0, 0, 0.2, 1);
	}
	@keyframes fadeInUpHalf {
		from {
			opacity: 0;
			transform: translateY(25%);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
	.fadeInUpHalf {
		animation: fadeInUpHalf 1.25s cubic-bezier(0, 0, 0.2, 1);
	}
	@keyframes fadeInLeft {
		from {
			opacity: 0;
			transform: translateX(-10%);
		}
		to {
			opacity: 1;
			transform: translateX(0)
		}
	}
	.fadeInLeft {
		animation: fadeInLeft 1.25s cubic-bezier(0, 0, 0.2, 1);
	}
	@keyframes scale {
		from {
			opacity: 0;
			transform: scale(0.5);
		}
		to {
			opacity: 1;
			transform: scale(1);
		}
	}
	.scale {
		animation: scale 1.25s cubic-bezier(0, 0, 0.2, 1);
	}
	.snap-stop {
		scroll-snap-align: none;
	}
	.scroll-padding {
		scroll-padding: 50px;
	}
	.scaleUpOnHover { 
		transition: all .25s ease-in-out; 
	}
	.scaleUpOnHover:hover { 
		transform: scale(1.025); 
	}
	.scaleUpOnHover2 { 
		transition: all .15s ease-in-out; 
	}
	.scaleUpOnHover2:hover { 
		transform: scale(1.125); 
	}
}
